USE [master]
GO
/****** Object:  Database [DB_OBS]    Script Date: 29.07.2022 12:03:43 ******/
CREATE DATABASE [DB_OBS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_OBS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_OBS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_OBS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_OBS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_OBS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_OBS]
GO
/****** Object:  Table [dbo].[TblAkademisyen]    Script Date: 29.07.2022 12:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAkademisyen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AkademisyenAdi] [nvarchar](50) NULL,
	[AkademisyenSoyadi] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblAkademisyen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblAkademisyen_Ders]    Script Date: 29.07.2022 12:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAkademisyen_Ders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AkademisyenID] [int] NULL,
	[DersID] [int] NULL,
 CONSTRAINT [PK_TblAkademisyen_Sinif] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDers_Ogrenci]    Script Date: 29.07.2022 12:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDers_Ogrenci](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NULL,
	[OgrenciID] [int] NULL,
 CONSTRAINT [PK_TblDers_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDers_Sinif]    Script Date: 29.07.2022 12:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDers_Sinif](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NULL,
	[SinifID] [int] NULL,
 CONSTRAINT [PK_TblDers_Sinif] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDersler]    Script Date: 29.07.2022 12:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDersler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DersAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblDersler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblOgrenci]    Script Date: 29.07.2022 12:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOgrenci](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciAdi] [nvarchar](50) NULL,
	[OgrenciSoyadi] [nvarchar](50) NULL,
	[OgrenciNo] [int] NOT NULL,
	[SinifID] [int] NULL,
	[TCNo] [nvarchar](11) NULL,
	[Cinsiyet] [nchar](5) NULL,
	[BabaAdi] [nvarchar](50) NULL,
	[AnneAdi] [nvarchar](50) NULL,
	[DogumTarihi] [date] NULL,
	[DogumYeri] [nvarchar](50) NULL,
	[Telefon] [nvarchar](11) NULL,
 CONSTRAINT [PK_TblOgrenci_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSinav]    Script Date: 29.07.2022 12:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSinav](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NULL,
	[OgrenciID] [int] NULL,
	[Sinav1] [int] NULL,
	[Sinav2] [int] NULL,
	[Ortalama] [int] NULL,
 CONSTRAINT [PK_TblSinav] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSinif]    Script Date: 29.07.2022 12:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSinif](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SinifAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblSinif] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblAkademisyen_Ders]  WITH CHECK ADD  CONSTRAINT [FK_TblAkademisyen_Ders_TblDersler] FOREIGN KEY([DersID])
REFERENCES [dbo].[TblDersler] ([ID])
GO
ALTER TABLE [dbo].[TblAkademisyen_Ders] CHECK CONSTRAINT [FK_TblAkademisyen_Ders_TblDersler]
GO
ALTER TABLE [dbo].[TblAkademisyen_Ders]  WITH CHECK ADD  CONSTRAINT [FK_TblAkademisyen_Sinif_TblAkademisyen] FOREIGN KEY([AkademisyenID])
REFERENCES [dbo].[TblAkademisyen] ([ID])
GO
ALTER TABLE [dbo].[TblAkademisyen_Ders] CHECK CONSTRAINT [FK_TblAkademisyen_Sinif_TblAkademisyen]
GO
ALTER TABLE [dbo].[TblDers_Ogrenci]  WITH CHECK ADD  CONSTRAINT [FK_TblDers_Ogrenci_TblDersler] FOREIGN KEY([DersID])
REFERENCES [dbo].[TblDersler] ([ID])
GO
ALTER TABLE [dbo].[TblDers_Ogrenci] CHECK CONSTRAINT [FK_TblDers_Ogrenci_TblDersler]
GO
ALTER TABLE [dbo].[TblDers_Ogrenci]  WITH CHECK ADD  CONSTRAINT [FK_TblDers_Ogrenci_TblOgrenci] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[TblOgrenci] ([ID])
GO
ALTER TABLE [dbo].[TblDers_Ogrenci] CHECK CONSTRAINT [FK_TblDers_Ogrenci_TblOgrenci]
GO
ALTER TABLE [dbo].[TblDers_Sinif]  WITH CHECK ADD  CONSTRAINT [FK_TblDers_Sinif_TblDersler] FOREIGN KEY([DersID])
REFERENCES [dbo].[TblDersler] ([ID])
GO
ALTER TABLE [dbo].[TblDers_Sinif] CHECK CONSTRAINT [FK_TblDers_Sinif_TblDersler]
GO
ALTER TABLE [dbo].[TblDers_Sinif]  WITH CHECK ADD  CONSTRAINT [FK_TblDers_Sinif_TblSinif] FOREIGN KEY([SinifID])
REFERENCES [dbo].[TblSinif] ([ID])
GO
ALTER TABLE [dbo].[TblDers_Sinif] CHECK CONSTRAINT [FK_TblDers_Sinif_TblSinif]
GO
ALTER TABLE [dbo].[TblSinav]  WITH CHECK ADD  CONSTRAINT [FK_TblSinav_TblDersler] FOREIGN KEY([DersID])
REFERENCES [dbo].[TblDersler] ([ID])
GO
ALTER TABLE [dbo].[TblSinav] CHECK CONSTRAINT [FK_TblSinav_TblDersler]
GO
ALTER TABLE [dbo].[TblSinav]  WITH CHECK ADD  CONSTRAINT [FK_TblSinav_TblOgrenci] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[TblOgrenci] ([ID])
GO
ALTER TABLE [dbo].[TblSinav] CHECK CONSTRAINT [FK_TblSinav_TblOgrenci]
GO
USE [master]
GO
